<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <li><a href="">#Stats</a></li>
  </ul>
  <ul class="nav nav-sidebar">
    <li class="active"><a href="#">Articles</a></li>
    <li>
      <%= link_to "New", new_article_path, method: :get %>
    </li>
    <li><a href="#">#Drafts</a></li>
    <li><a href="#">#Trash</a></li>
  </ul>
</div>
