<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <% @articles.each do |article| %>
          <h1><%= article.title %></h1>

          <p>
            <%= article.body %>
          </p>

      <% end %>
    </div>
  </div>
</div>
