<div class="container-fluid">
  <div class="row">
    <%= render 'dashboard/sidebar' %>
    <div class="col-sm-9 col-sm-offset-3 col-md-offset-2 main">
      <%= form_for @article, url: articles_path do |article| %>
          <div class="form-group">
            <%= article.label 'Title' %>
            <%= article.text_field :title, :class => 'form-control' %>
          </div>
          <div class="form-group">
            <%= article.label 'Description' %>
            <%= article.text_area :body, :class => 'form-control', :rows => "10" %>
          </div>
          <%= article.button "Publish", :class => "btn btn-success" %>
          <%= %>
      <% end %>
    </div>
  </div>
</div>
